body {
    background-image: url(images/mLkoda.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    margin:auto;
    max-width: 35%;
    min-height: 80vh;
}
input {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.head {
    margin-top: 10%;
    background-image: url(images/head.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 80vh;
}
.content{
    text-align: center;
    padding-top: 4vh;
    padding-left: 10vh;
    padding-right: 10vh;
}

.encrypted {
    background-image: url(images/mLkoda.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-family: cursive;
    font-size: 2vh;
    font-weight: bolder;
}